@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif, 'Avenir', Helvetica, Arial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: white;
}

.login-container{
    margin-top: 10%;
    margin-bottom: 5%;
}
.login-form-1{
    color: black;
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.margin-item{
    margin-top: 20%;
}

.margin-table{
    color:black;
    margin-top: 5%;
}

.login-form-2{
    padding: 5%;
    background: #0062cc;
    color:white;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
body::-webkit-scrollbar {
    background-color:transparent;
    width:10px
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
    background-color:transparent;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {display:none}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}